* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.part1{
    background: linear-gradient(to top, #000c29,  #011d5e);
    width: 100%;
    height: 4160px;
}

.navbar {
    display: flex;
}

.nav_list {
    display: flex;
    color: white;
    gap: 25px;
    font-weight: 600;
    margin-top: 10px;
    
}

.list1 {
    display: flex;
    margin-top: 20px;
}

.down_arrow {
    height: 15px;
}

.nav_box {
    display: flex;
    gap: 25px;
    color: white;
    margin-left: 300px;
    margin-top: 10px;
}

.login>button {
    cursor: pointer;
    color: white;
    border: 2px solid white;
    background-color: #021345;
    border-radius: 10px;
    font-size: 16px;
    height: 54px;
    width: 120px;
    font-weight: 500;
}

.login>button:hover {
    background-color: blue;
    border: 2px solid blue;
    color: white;
}

.contact_us {
    cursor: pointer;
    font-weight: 500;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    height: 20px;
    padding: 15px;
    width: 100px;
    text-align: center;
    color: blue;
}

.contact_us:hover{
    background-color: blue;
    border: 2px solid blue;
    color: white;
}



.line {
    border-bottom: 0.5px solid rgb(98, 98, 159);
    position: relative;
    top: -65px;
    width: 100%;
}

.headings {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.h2 {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.gradient-text {
    margin-top: 10px;
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to bottom, rgb(255, 209, 1), rgb(253, 2, 93));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    cursor: pointer;
    margin-top: 30px;
    font-weight: 500;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    height: 20px;
    padding: 15px;
    width: 150px;
    text-align: center;
    color: blue;
}

.button:hover{
    background-color: #2b4ec2;
    border: 2px solid #2b4ec2;
    color: white;
}

.video-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width: 70%;

}

.gradient-text-2 {
    margin-top: 100px;
    font-size: 16px;
    text-align: center;
    background: linear-gradient(to bottom, rgb(255, 209, 1), rgb(253, 2, 93));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h3 {
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.box1 {
    margin-top: 50px;
    border: 2px solid #369eff;
    border-radius: 10px;
    width: 320px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box3 {
    margin-top: 50px;
    border: 2px solid yellow;
    border-radius: 10px;
    width: 320px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h5 {
    color: white;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.h4 {
    margin-top: 10px;
    color: #369eff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.h7 {
    margin-top: 10px;
    color: yellow;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.h6 {
    margin-top: 10px;
    color: #e80055;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.img1 {
    margin-top: 20px;
    height: 170px;
}

.img3 {
    margin-top: 20px;
    height: 150px;
}

.img4 {
    margin-top: 10px;
    height: 126px;
}

.img5 {
    height: 135px;
}

.button1 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #369eff;
    background-color: #021345;
    border-radius: 5px;
    height: 33px;
    width: 225px;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.button1>div {
    background-color: #152f4d;
}

.sub-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #152f4d;
    width: 320px;
    height: 200px;
}

.tick-flex {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 5px;
    background-color: #152f4d;
}

.tick-flex>div {
    background-color: #152f4d;
    font-size: small;
}

.img2 {
    height: 15px;
    background-color: #152f4d;
}

.box-flex {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
    background-color: #152f4d;
}

.button2 {
    font-size: small;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    height: 20px;
    width: 60px;
    text-align: center;
    padding-top: 3px;
}

.button3 {
    font-size: small;
    color: white;
    background-color: #2b4ec2;
    border: 1px solid #2b4ec2;
    border-radius: 5px;
    height: 20px;
    width: 60px;
    text-align: center;
    padding-top: 3px;
}

.button4 {
    font-size: small;
    color: white;
    background-color: #369eff;
    border: 1px solid #369eff;
    border-radius: 5px;
    height: 20px;
    width: 60px;
    text-align: center;
    padding-top: 3px;
}

.button5 {
    font-size: small;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    height: 20px;
    width: 60px;
    text-align: center;
    padding-top: 3px;
}

.learn_more {
    cursor: pointer;
    margin-top: -25px;
    background-color: #369eff;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 320px;
    height: 32px;
}

.learn_more_1 {
    cursor: pointer;
    margin-top: -35px;
    background-color: #e80055;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 320px;
    height: 32px;
}

.learn_more_2 {
    cursor: pointer;
    margin-top: -35px;
    background-color: yellow;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 320px;
    height: 32px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.box2 {
    margin-top: 50px;
    border: 2px solid #e80055;
    border-radius: 10px;
    width: 320px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button6 {
    font-size: small;
    color: white;
    background-color: #e80055;
    border: 1px solid #e80055;
    border-radius: 5px;
    height: 20px;
    width: 60px;
    text-align: center;
    padding-top: 3px;
}

.button7 {
    font-size: small;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    height: 20px;
    width: 60px;
    text-align: center;
    padding-top: 3px;
}

.button8 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #e80055;
    background-color: #021345;
    border-radius: 5px;
    height: 33px;
    width: 225px;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.button8>div {
    background-color: #152f4d;
}

.button9 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid yellow;
    background-color: #021345;
    border-radius: 5px;
    height: 33px;
    width: 225px;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.button9>div {
    background-color: #152f4d;
}

.button10 {
    font-size: small;
    color: black;
    background-color: yellow;
    border: 1px solid yellow;
    border-radius: 5px;
    height: 20px;
    width: 60px;
    text-align: center;
    padding-top: 3px;
}

.button11 {
    font-size: small;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    height: 20px;
    width: 60px;
    text-align: center;
    padding-top: 3px;
}

.gradient-text-3 {
    margin-top: 100px;
    font-size: 16px;
    margin-left: 100px;
    background: linear-gradient(to bottom, rgb(255, 209, 1), rgb(253, 2, 93));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h8 {
    margin-left: 100px;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.img7 {
    height: 280px;
    margin-bottom: 20px;
    margin-top: -2px;
}

.h9 {
    color: white;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 25px;
}

.l1 {
    margin-left: 20px;
    margin-top: 5px;
    color: white;
    display: flex;
    align-items: center;
}

.img6 {
    height: 25px;
}

.BOX1 {
    border: 2px solid #2b4ec2;
    height: 630px;
    width: 404px;
    border-radius: 20px;
}

.box4 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.button12 {
    cursor: pointer;
    background-color: white;
    color: blue;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 10px;
    height: 30px;
    width: 130px;
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
    margin-left: 700px;
}

.button12:hover{
    background-color: #2b4ec2;
    border: 2px solid #2b4ec2;
    color: white;
}

.part2 {
    color: white;
    text-align: center;
    margin-top: 120px;
}

.h1 {
    font-size: 40px;
}

.text1 {
    font-size: 20px;
    width: 1020px;
    margin-left: 250px;
    margin-top: 5px;
}

.cards_three {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.card1 {
    width: 350px;
}

.card2 {
    width: 350px;
}

.card3 {
    width: 350px;
}

.c1 {
    height: 220px;
}

.c2 {
    height: 240px;
}

.text2 {
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
}

.text3 {
    color: white;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.text4 {
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}

.text5 {
    color: white;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.highlight {
    background: linear-gradient(to bottom, rgb(255, 209, 1), rgb(253, 2, 93));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    font-weight: bold;
}

.text6 {
    font-size: 38px;
    font-weight: bold;
    background-color: #001329;
}

.box5 {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.content-container {
    color: white;
    text-align: center;
    width: 650px;
    border-radius: 15px;
    background-color: #001329;
    box-shadow: 0px 2px 30px rgb(94, 63, 155);
    border: 2px solid #2b4ec2;
    padding: 40px 130px;
}

.para {
    color: gray;
    font-size: 19.5px;
    line-height: 1.5;
    margin-top: 20px;
    background-color: #001329;
}

.explore-button {
    cursor: pointer;
    margin-left: 230px;
    margin-top: 30px;
    text-align: center;
    width: 160px;
    color: #5f5fbb;
    background-color: #ffffff;
    padding:15px;
    border-radius: 5px;
    font-weight: 500;
}

.explore-button:hover{
    background-color: #2b4ec2;
    color: white;
}

.black-blue{
    background: linear-gradient(to bottom, #000000, rgb(0, 0, 95)); 
    padding: 30px;  
    color: white;
    overflow: hidden;
}

.text7{
    margin-top:80px;
    text-align: center;
}

.text7>h1{
    font-size: 40px;
}

.text7>p{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
}

.c_1{
    background-color:#001328 ;
    color: white;
    border: 2px solid #2a4dbf;
    border-radius:20px;
    width: 25%;
    height: 350px;
    padding-top: 40px;
    padding-bottom: 30px;
    /* padding-left: 50px; */
    padding-right: 30px;
}

.c_img{
    text-align: center;
}

.c_1>h1{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 25px;
}

.c_1>p{
    text-align: left;
    margin-top: 20px;
    margin-left: 25px;
    line-height: 1.5;
    font-size: 16px;
    font-weight:300;
}

.img-card{
    margin-top: 50px;
    display: flex;
    justify-content:center;
    gap: 30px;
}

.explore-button1 {
    cursor: pointer;
    margin-left: 630px;
    margin-top: 50px;
    text-align: center;
    width: 160px;
    color: #5f5fbb;
    background-color: #ffffff;
    padding:15px;
    border-radius: 5px;
    font-weight: 500;
}

.explore-button1:hover{
    background-color: #2b4ec2;
    color: white;
}

.text8{
    margin-top:80px;
    text-align: center;
}

.text8>h1{
    font-size: 40px;
}

.text8>p{
    margin-top: 10px;
    font-size: 20px;
}

.part4_cards{
    margin-top: 30px;
    display: flex;
    justify-content:center;
    gap: 80px;
}

.p4_c1{
    width: 35%;
}

.p4_img1{
    height: 300px;
}

.text9>h1{
    font-size: 30px;
    text-align: center;
}

.text9>p{
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin-top: 20px;
}

.c_2{
    background-color:#001328 ;
    color: white;
    border: 2px solid #2a4dbf;
    border-radius:20px;
    width: 23%;
    height: 400px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.c_img2{
    text-align: left;
}

.c_2>h1{
    font-size: 25px;
    margin-top: 20px;
    
}

.c_2>p{
    text-align: left;
    margin-top: 20px;
    line-height: 1.5;
    font-size: 16px;
    font-weight:300;
}

.img-card2{
    margin-top: 50px;
    display: flex;
    justify-content:center;
    gap: 30px;
}

.partner{
    font-size: 25px;
    margin-top: 10px;
    font-weight: 500;
}

.text10{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

.gradient-text-4{
    text-align: center;
    background: linear-gradient(to bottom, rgb(255, 209, 1), rgb(253, 2, 93));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top:100px;
    font-size: 18px;
}

.card4{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.c4_box1{
    background-color:#002042 ;
    color: white;
    border: 2px solid #2b4ec2;
    border-radius:20px;
    width: 20%;
    height: 130px;
    padding: 20px;
    padding-bottom: 20px;
}

.c4_img{
    height:70px;
    margin-left: 110px;
}

.text11{
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin-top: 15px;
}